
.counter {

     height: 100px;
     width: 400px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: auto;
     margin-top: 20px;
 
   
     span {
         font-size: 40px;
         font-weight: bold
     }
 }

.decButton {

    background-color: red;
}

.incButton {
    background-color: green;
}